<?xml version="1.0" encoding="gb2312"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>QRCode</servlet-name>
    <servlet-class>servlet.QRCode</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>QRCode</servlet-name>
    <url-pattern>/qrcode</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>util.SetChar</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MainCtrl</servlet-name>
    <servlet-class>control.MainCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>control.Upload</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>MainCtrl</servlet-name>
    <url-pattern>/jspm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
</web-app>


