BODY {
	FONT-SIZE: 12px
}
P {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
LI {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
from {
	FONT-SIZE: 12px
}


.ls { font-size:12px; color:#FF3300; text-decoration:none}

